/* Default link styling */
a:link {
  color: #0271fb;
}
a:visited {
  color: #bd02fb;
}
a:hover,
a:focus {
  color: #000;
}
a:active {
  color: #fb0e02;
}
div.cc7Table {
  --content-padding: 0;
}
div.cc7Table table th {
  text-align: left;
  padding-right: 3px;
}
div.cc7Table table th.tlBioAge {
  text-align: center;
}

div.cc7Table .Female {
  background-color: #ffe6ea;
}
div.cc7Table .Male {
  background-color: #cceeff;
}

div.cc7Table ol,
div.cc7Table ul {
  margin-bottom: 1em;
}

img.familyHome,
img.privacyImage,
img.timelineButton {
  height: 1em;
}
img.familyHome,
img.timelineButton {
  cursor: pointer;
}

div.cc7Table #tree {
  display: block;
  height: 5em;
  border-radius: 50%;
  border: 3px solid forestgreen;
  width: 5em;
  margin: auto;
}
.cc7Table .familySheet,
.cc7Table .timeline {
  background: white;
  border-radius: 1em;
  border: 3px solid forestgreen;
  box-shadow: 0.5em 0.5em 0.5em 0.5em #ccc;
  cursor: grab;
  display: none;
  position: absolute;
  padding: 1.5em 1em 1em;
  white-space: nowrap;
  z-index: 10000;
}
.timeline.wrap,
.familySheet.wrap {
  width: 80%;
  white-space: normal;
}
.cc7Table .timeline {
  height: auto;
  width: auto;
  /* z-index: 4000; */
}
.timelineTable td {
  padding: 0.1em;
}
.tlAge,
.tlBioAge {
  text-align: center;
}
th.tlBioAge {
  text-align: center;
}
.tlEventName {
  text-align: center;
}
.tlDate {
  white-space: nowrap;
}
.timeline x,
.familySheet x {
  position: absolute;
  top: 0;
  right: 0.5em;
  font-weight: bold;
  cursor: pointer;
  color: red;
}
.timeline w,
.familySheet w {
  position: absolute;
  top: 0;
  left: 0.5em;
  font-weight: bold;
  cursor: pointer;
}
.familySheet .self {
  font-weight: bold;
}
.timelineTable .BioPerson,
.timelineTable .marriage {
  font-weight: bold;
}
div.cc7Table .timelineTable {
  width: 98%;
  margin: auto;
}
div.cc7Table .timelineTable td {
  border-top: none;
  border-bottom: none;
}
.timelineTable tr.BioPerson.Birth {
  border-top: 1px solid forestgreen;
}
.timelineTable tr.BioPerson.Death {
  border-bottom: 1px solid forestgreen;
}

.cc7Table p {
  margin: 1em;
}
.cc7Table span.none {
  display: inline-block;
  width: 1em;
  height: 1em;
  background: #c6c6c6;
  color: white;
  border: 1px solid #ddd;
}
.cc7Table caption {
  font-family: sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  text-align: left;
  padding: 0.5em;
  background: white;
  border-top: 1px solid forestgreen;
  border-bottom: 1px solid forestgreen;
}

.cc7Table #degreesTable {
  margin: 1em;
  text-align: right;
}
.cc7Table #degreesTable td,
.cc7Table #degreesTable th {
  padding: 0.3em;
}

.cc7Table #peopleTable.wide {
  white-space: nowrap;
  table-layout: auto;
}
.cc7Table .peopleTable a:link,
.cc7Table .peopleTable a:visited {
  text-decoration: none;
}
.cc7Table #peopleTable td {
  padding: 0.2em;
}
.cc7Table #peopleTable td.aDate {
  white-space: nowrap;
}
.cc7Table #peopleTable th {
  text-align: left;
}
.cc7Table #peopleTable td.none {
  background: #c6c6c6;
  color: black;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}
.cc7Table #peopleTable td.noFather {
  color: white;
  background-image: url("../images/blue_bricks_small.jpg");
}
.cc7Table #peopleTable td.noMother {
  color: black;
  background-image: url("../images/pink_bricks_small.jpg");
}
.cc7Table #peopleTable td.noParents {
  color: white;
  background-image: url("../images/purple_bricks_small.jpg");
}
.cc7Table #peopleTable td.age-at-death {
  text-align: right;
}

.cc7Table table#peopleTable {
  border-collapse: separate;
  border-spacing: 3px;
  margin-top: 1em;
  background: white;
}
.cc7Table #peopleTable td {
  padding: 0.4em;
}
.cc7Table #peopleTable td.number {
  text-align: center;
}
.cc7Table #peopleTable thead {
  position: sticky;
  top: 0;
  background: white;
}
.cc7Table #peopleTable img.diedYoungImg {
  float: right;
}
.cc7Table td.diedYoung1 {
  background: url("../images/47px-RTC_-_Pictures.jpeg") center no-repeat;
  background-size: 2em;
}
.cc7Table td.diedYoung2 {
  background: url("../images/50px-Remember_the_Children-26.png") center no-repeat;
  background-size: 2em;
}
.cc7Table ul#key {
  display: block;
  border: none;
}
.cc7Table ul#key li {
  width: auto;
  cursor: default;
}

.cc7Table #explanation {
  display: none;
  position: absolute;
  top: 100px;
  right: 100px;
  width: 45em;
  border: 3px solid forestgreen;
  border-radius: 1em;
  padding: 0.3em 1em;
  margin: 1em auto;
  background: white;
  box-shadow: 1em 1em 1em grey;
  z-index: 11000;
}
#explanation:hover {
  cursor: grab;
}
#explanation:active {
  cursor: grabbing;
}
@media only screen and (max-width: 767px) {
  .cc7Table .ui-draggable-handle {
    -ms-touch-action: auto !important;
    touch-action: auto !important;
  }
  .cc7Table #explanation {
    position: relative !important;
    width: 70% !important;
    margin: auto !important;
    top: auto;
    right: auto;
  }
}

.cc7Table #explanation x {
  position: absolute;
  top: 0.2em;
  right: 0.6em;
  font-weight: bold;
  font-size: 1em;
  cursor: pointer;
  color: red;
}
.cc7Table #explanation h3 {
  font-size: 1.3em;
  margin-bottom: 0.5em;
}
.cc7Table #explanation h4 {
  font-size: 1.1em;
  margin-bottom: 0.5em;
}
.cc7Table #explanation ul {
  margin-left: 35px;
}

div.cc7Table {
  background: white;
  min-width: 650px;
}

#peopleList td,
#peopleList th {
  padding: 1px 1em 1px 1px;
}
#peopleList li a {
  font: 1.2em;
}
span.death,
span.birth {
  display: block;
}
span.missingText {
  display: block;
  margin-top: 0.3em;
}

img.familyHome {
  height: 15px;
  display: none;
}

div.cc7Table img.familyHome {
  height: 15px;
  display: inline;
}
#peopleList {
  display: none;
}
.birthDate,
.deathDate,
.relationCell {
  white-space: nowrap;
}
#getPeopleButton {
  width: 7em;
  text-align: center;
  margin-left: 1em;
  margin-right: 0.5em;
  white-space: nowrap;
  margin-bottom: 1em;
}
#cc7Degree {
  width: 2.5em;
  min-width: 2.5em;
  margin-right: 0.5em;
}
#cc7Degree option {
  text-align: center;
}
#getDegreeButton {
  margin-right: 20px;
}

div.cc7Table select,
div.cc7Table input {
  padding: 0.3em;
  width: auto;
  min-width: 90px;
  padding-right: 1em;
  background-size: 1em 2em;
}
#peopleList {
  margin-left: 0.5em;
  margin-bottom: 1em;
  padding: 0.5em;
}
#peopleList th {
  text-align: left;
  white-space: nowrap;
}
#peopleList tr {
  padding: 0.2em;
  border-bottom: 1px solid gray;
}

td.actions img,
#key img,
.key img {
  width: 20px;
  height: 20px;
  margin-right: 2px;
}
#wideTableButton {
  margin-left: 0.5em;
}
#help {
  background: #393a3c;
  color: #fff;
  font-size: 0.8em;
  padding: 0.1em 0.5em;
  border: 0.2em;
  border-radius: 50%;
  float: right;
  font-weight: bold;
  cursor: pointer;
}
section#formThings {
  max-width: 45em;
  margin: 0.5em auto;
}
label.missingLabel {
  margin-left: 1em;
  display: inline-block;
}
label.missingLabel input {
  width: auto;
  min-width: auto;
}
label.missingLabel {
  border: 1px solid forestgreen;
  border-radius: 1em;
  padding: 0 0.5em;
}
#key,
.key {
  list-style: none;
  display: inline-block;
  margin-bottom: 0;
}
#key li,
.key li {
  display: inline-block;
  cursor: pointer;
}
.key li {
  width: 48%;
}
.key li.bricks {
  width: 32%;
}
.key {
  width: 37em;
  margin: 1em auto;
  display: block;
  text-align: center;
  padding: 0.7em 0.5em 0.3em 0.5em;
  border: 2px solid forestgreen;
  border-radius: 1em;
}
.key span {
  position: relative;
  top: -0.4em;
}

img.missingImg {
  cursor: pointer;
}
img.missingImg:active {
  border-right: 1px solid forestgreen;
  border-left: 1px solid forestgreen;
}
.key li {
  border-bottom: 2px solid #fff;
  border-radius: 1em;
  padding: 3px 2px 2px 3px;
}
.key li.clicked {
  background: #f7f6f0;
  border-radius: 1em;
  border-bottom: 2px solid forestgreen;
}
#peopleList tr[data-name=""] td.actions img,
#peopleList tr[data-name=""] td.actions a {
  visibility: hidden;
}
#peopleList tr[data-name=""] td.actions img.missingImg {
  visibility: visible;
}
#peopleList th.missingChildrenCell,
#peopleList td.missingChildrenCell,
#peopleList th.missingSpouseCell,
#peopleList td.missingSpouseCell,
#peopleList th.actions,
#peopleList td.actions {
  padding-right: 2px;
  padding-left: 0;
}
#peopleList .created,
#peopleList .touched {
  display: none;
  text-align: right;
}
#peopleList.wide .created,
#peopleList.wide .touched {
  display: table-cell;
}
td.degree {
  text-align: center;
  cursor: default;
}
div#status {
  padding: 1em;
}
div.cc7Table td {
  border-top: 1px solid gray;
}
div.cc7Table th[id] {
  cursor: pointer;
}

#lanceTable {
  margin-top: 1em;
}
#lanceTable td,
#lanceTable th {
  vertical-align: top;
}
#lanceTable th li {
  display: inline-block;
  margin-right: 1em;
}
#lanceTable th span {
  font-weight: bold;
}
#lanceTable th ol {
  margin-left: 0;
}
#lanceTable td ol {
  margin-left: 2em;
}
#lanceTable th {
  cursor: inherit;
}
#lanceTable a[data-clicked="1"] {
  background: forestgreen;
  color: white;
}
#hierarchyView {
  margin-top: 1em;
  font-size: 1.3em;
}
#hierarchyView menu {
  margin: 1em;
}
#hierarchyView menu button {
  margin: 1em;
}
#hierarchyView ul {
  list-style: none;
  margin-bottom: 5px;
}
#hierarchyView li {
  margin-bottom: 0.3em;
}
#hierarchyView button.toggler,
#hierarchyView button.nonToggler {
  border: 1px solid gray;
  border-radius: 50%;
  width: 1em;
  height: 1em;
  padding: 0 !important;
  position: absolute;
  margin-left: -1.3em;
  line-height: 0.5em;
}
#hierarchyView button.toggler:active {
  left: auto;
  top: auto;
  margin-top: 1px;
  box-shadow: 0.2em 0.2em 0.2em gray;
}
#hierarchyView button.nonToggler {
  cursor: default;
}
#hierarchyView button.nonToggler:active {
  left: auto;
  top: auto;
}
#hierarchyView button.nonToggler:hover {
  background: #25422d;
}
#hierarchyView ul ul {
  display: none;
}
#hierarchyView #showAllDegrees {
  width: 10em;
}
#hierarchyView img.missingIcon,
#lanceTable img.missingIcon,
#hierarchyView img.missingCountIcon {
  height: 1em;
  width: 1em;
  margin-left: 0.2em;
}
#hierarchyView span.countBit span {
  margin-left: 0.5em;
}
#hierarchyView span.countBit span:first-child {
  margin-left: 0;
}
#hierarchyView span.countBit {
  border: 1px solid #d90202;
  padding: 0 2px 0;
  margin-left: 0.5em;
  border-radius: 0.2em;
  background-color: white;
  display: inline-block;
}
#hierarchyView span.countBit img {
  position: relative;
  top: 0.1em;
}
#hierarchyView span.nodeCount {
  padding: 3px 0.2em 0;
  border: 1px solid forestgreen;
  border-radius: 0.2em;
  margin: 0 0.3em;
}

button.viewButton {
  background: #25422d;
  border: 0;
  outline: none;
  cursor: pointer;
  text-align: center;
  font-size: 20px;
  margin-left: 1em;
  text-transform: uppercase;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  font-weight: normal;
  text-decoration: none !important;
  cursor: pointer;
  line-height: normal;
  transition: all 0.1s ease-in-out;
  box-shadow: 0px 2px 4px 0px gray;
}

button.viewButton.active {
  /*background-color: #3c54e1;*/
  background-color: #faae1a;
  color: #25422d;
  font-weight: bold;
  transform: translateY(2px);
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.1);
}

div.degreeView #hierarchyViewButton {
  visibility: hidden;
}
div.cc7Table #savePeople {
  display: none;
}

#hierarchyView span.relation {
  padding: 0 0.2em;
  border-radius: 0.2em;
}

#hierarchyView span.Father {
  background-color: #64b5f6;
  border: 1px solid #0288d1;
}

#hierarchyView span.Mother {
  background-color: #f06292;
  border: 1px solid #ec407a;
}

#hierarchyView span.Brother {
  background-color: #b3e5fc;
  border: 1px solid #01579b;
}

#hierarchyView span.Sister {
  background-color: #ffcdd2;
  border: 1px solid #f44336;
}

#hierarchyView span.Sibling {
  background-color: #a5d6a7;
  border: 1px solid #1b5e20;
}

#hierarchyView span.Husband {
  background-color: #90caf9;
  border: 1px solid #03a9f4;
}

#hierarchyView span.Wife {
  background-color: #e1bee7;
  border: 1px solid #9c27b0;
}

#hierarchyView span.Spouse {
  background-color: #c5e1a5;
  border: 1px solid #558b2f;
}

#hierarchyView span.Daughter {
  background-color: #fce4ec;
  border: 1px solid #f06292;
}

#hierarchyView span.Son {
  background-color: #e1f5fe;
  border: 1px solid #03a9f4;
}

#hierarchyView span.Child {
  background-color: #81c784;
  border: 1px solid #388e3c;
}

#hierarchyView span.birthDeathDates {
  font-size: 0.8em;
}

table tr.cc7filter-row input[type="text"] {
  width: 100%;
  box-sizing: border-box;
  padding: 0.1em;
  border: 1px solid #aaa;
  border-radius: 0.25em;
  font-size: 1em;
  line-height: 1.5em;
  margin: 0;
  background-color: #fff;
  color: #000;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-transition: border-color 0.2s ease-in-out;
  -moz-transition: border-color 0.2s ease-in-out;
  transition: border-color 0.2s ease-in-out;
}
#clearTableFiltersButton {
  font-size: 0.8em;
  padding: 7px 15px;
  font-size: 0.9em;
  text-align: center;
  display: inline-block;
}
.cc7filter-row input.numeric-input {
  width: 2em !important;
  min-width: auto;
}
.cc7filter-row input.date-input {
  width: 6em !important;
  min-width: auto;
}

.cc7filter-row input.text-input {
  width: 100%;
}

/* ---------------------------------------------------------
   Print styles
   ---------------------------------------------------------*/
@media print {
  * {
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
    /* background:transparent !important;*/
  }
  html {
    background-color: #fff;
  }
  /* Hide navigation */
  nav {
    display: none;
  }

  /* Show link destinations in brackets after the link text */
  /* a[href]:after { content: " (" attr(href) ") "; }*/
  a[href] {
    font-weight: bold;
    text-decoration: underline;
    color: #06c;
    border: none;
  }
  /* Don't show link destinations for JavaScript or internal links */
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  /* Show abbr title value in brackets after the text */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  figure {
    margin-bottom: 1em;
    overflow: hidden;
  }

  figure img {
    border: 1px solid #000;
  }
}
