/* Default link styling */
#cc7Container a:link {
  color: #0271fb;
}
#cc7Container a:visited {
  color: #bd02fb;
}
#cc7Container :is(a:hover, a:focus) {
  color: #000;
}
#cc7Container a:active {
  color: #fb0e02;
}
div.cc7Table {
  --content-padding: 0;
}
div.cc7Table table th {
  text-align: left;
  padding-right: 3px;
}
div.cc7Table table td.relation {
  text-align: center;
}
div.cc7Table table th.tlBioAge {
  text-align: center;
}

#missingLinksTable .Female,
#missingLinksTable .Male {
  background-color: white;
}
div.cc7Table .Female {
  background-color: #ffe6ea;
}
div.cc7Table .Male {
  background-color: #cceeff;
}

div.cc7Table ol,
div.cc7Table ul {
  margin-bottom: 1em;
}

div.cc7Table button[disabled] {
  background-color: gray;
}

img.familyHome,
img.timelineButton {
  height: 15px;
}
img.privacyImage {
  height: 18px;
}
.cc7Table .bioIssue,
img.familyHome,
img.timelineButton {
  cursor: pointer;
}

div.cc7Table #tree {
  display: block;
  height: 5em;
  border-radius: 50%;
  border: 3px solid forestgreen;
  width: 5em;
  margin: auto;
}
.cc7Table .cc7notes,
.cc7Table .bioReport,
.cc7Table .familySheet,
.cc7Table .timeline {
  background: white;
  border-radius: 1em;
  border: 3px solid forestgreen;
  box-shadow: 0.5em 0.5em 0.5em 0.5em #ccc;
  cursor: grab;
  display: none;
  position: absolute;
  padding: 1.5em 1em 1em;
  white-space: nowrap;
  z-index: 10000;
}
.cc7notes textarea {
  width: 90%;
  display: block;
  margin: 1em auto;
  height: 10em;
}
.cc7notes h2 {
  font-size: 1.2em;
}
.cc7Table .degree.hasNote {
  position: relative; /* Ensure the gradient respects the td's bounds */
}
.cc7Table tr.Male .degree.hasNote {
  background: linear-gradient(to top right, #cceeff, #1daddd);
}
.cc7Table tr.Female .degree.hasNote {
  background: linear-gradient(to top right, #ffe6ea, #e05c6a);
}
.cc7Table tr .degree.hasNote {
  background: linear-gradient(to top right, #f5f5f5, #c3f6c7);
}
.cc7Table .degree.ToDo::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0; /* Align to the top-right corner */
  width: 0;
  height: 0;
  border-top: 10px solid red; /* Triangle color and height */
  border-left: 10px solid transparent; /* Transparent left edge */
}
.cc7Table .degree.InProgress::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0; /* Align to the top-right corner */
  width: 0;
  height: 0;
  border-top: 10px solid rgb(255, 255, 0); /* Triangle color and height */
  border-left: 10px solid transparent; /* Transparent left edge */
}
.cc7Table .degree.Parked::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0; /* Align to the top-right corner */
  width: 0;
  height: 0;
  border-top: 10px solid rgb(0, 0, 255); /* Triangle color and height */
  border-left: 10px solid transparent; /* Transparent left edge */
}
.cc7Table .degree.Done::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0; /* Align to the top-right corner */
  width: 0;
  height: 0;
  border-top: 10px solid rgb(0, 255, 0); /* Triangle color and height */
  border-left: 10px solid transparent; /* Transparent left edge */
}
.cc7Table .bioReport {
  white-space: normal;
}
.bioReport.wrap,
.timeline.wrap,
.familySheet.wrap {
  width: 80%;
  white-space: normal;
}
.cc7Table .timeline {
  height: auto;
  width: auto;
}
.timelineTable td {
  padding: 0.1em;
}
.tlAge,
.tlBioAge {
  text-align: center;
}
th.tlBioAge {
  text-align: center;
}
.tlEventName {
  text-align: center;
}
.tlDate {
  white-space: nowrap;
}
.cc7notes x,
.bioReport x,
.timeline x,
.familySheet x {
  position: absolute;
  top: 0;
  right: 0.5em;
  font-weight: bold;
  cursor: pointer;
  color: red;
}
.bioReport w,
.timeline w,
.familySheet w {
  position: absolute;
  top: 0;
  left: 0.5em;
  font-weight: bold;
  cursor: pointer;
}
.familySheet .self {
  font-weight: bold;
}
.timelineTable .BioPerson,
.timelineTable .Marriage {
  font-weight: bold;
}
div.cc7Table .timelineTable {
  width: 98%;
  margin: auto;
}
div.cc7Table .bioReportTable ol {
  margin-left: 2em;
}
div.cc7Table .bioReportTable td,
div.cc7Table .timelineTable td {
  border-top: none;
  border-bottom: none;
}
.timelineTable tr.BioPerson.Birth {
  border-top: 1px solid forestgreen;
}
.timelineTable tr.BioPerson.Death {
  border-bottom: 1px solid forestgreen;
}

.cc7Table p {
  margin: 1em;
}
.cc7Table span.none {
  display: inline-block;
  width: 1em;
  height: 1em;
  background: #c6c6c6;
  color: white;
  border: 1px solid #ddd;
}
.cc7Table caption {
  font-family: sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  text-align: left;
  padding: 0.5em;
  background: white;
  border-top: 1px solid forestgreen;
  border-bottom: 1px solid forestgreen;
  caption-side: top;
}

.cc7Table #degreesTable {
  margin: 1em 1em 0.5em;
  text-align: right;
}
.cc7Table #degreesTable td,
.cc7Table #degreesTable th {
  padding: 0.3em;
}
.cc7Table #ancReport {
  margin: 0 1em 1em;
}

.cc7Table #peopleTable.wide {
  white-space: nowrap;
  table-layout: auto;
}
.cc7Table .peopleTable a:link,
.cc7Table .peopleTable a:visited {
  text-decoration: none;
}
.cc7Table #peopleTable td {
  padding: 0.2em;
}
.cc7Table #peopleTable td.aDate {
  white-space: nowrap;
}
.cc7Table #peopleTable th {
  text-align: left;
}
.cc7Table #peopleTable td.none {
  background: #c6c6c6;
  color: black;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}
.cc7Table #peopleTable td.noFather {
  color: white;
  background-image: url("../images/blue_bricks_small.jpg");
}
.cc7Table #peopleTable td.noMother {
  color: black;
  background-image: url("../images/pink_bricks_small.jpg");
}
.cc7Table #peopleTable td.noParents {
  color: white;
  background-image: url("../images/purple_bricks_small.jpg");
}
.cc7Table #peopleTable td.age-at-death {
  text-align: right;
}
.cc7Table span.bioIssue,
.cc7Table #peopleTable td.bioIssue {
  border: 2px solid darkorange;
  background: #ffe270;
}
.cc7Table span.bioIssue2,
.cc7Table #peopleTable td.bioIssue2 {
  border: 2px solid darkorange;
}
.cc7Table span.bioIssue,
.cc7Table span.bioIssue2 {
  cursor: default;
  position: relative;
  top: -0.4em;
}
.cc7Table #peopleTable td.privBio {
  text-align: center;
  vertical-align: middle;
}

.cc7Table table#peopleTable {
  border-collapse: separate;
  border-spacing: 3px;
  margin-top: 1em;
  background: white;
}
.cc7Table #peopleTable td.number {
  text-align: center;
}
.cc7Table #peopleTable thead {
  position: sticky;
  top: 0;
  background: white;
}
.cc7Table #peopleTable td.diedYoung {
  padding: 0;
}
.cc7Table #peopleTable td.diedYoung img {
  height: 1.8em;
  vertical-align: middle;
}

.cc7Table #settingsDIV {
  z-index: 10000;
}

.cc7Table #explanation {
  display: none;
  position: absolute;
  top: 100px;
  right: 100px;
  width: 45em;
  border: 3px solid forestgreen;
  border-radius: 1em;
  padding: 0.3em 1em;
  margin: 1em auto;
  background: white;
  box-shadow: 1em 1em 1em grey;
  z-index: 10000;
}
#explanation:hover {
  cursor: grab;
}
#explanation:active {
  cursor: grabbing;
}
@media only screen and (max-width: 767px) {
  .cc7Table .ui-draggable-handle {
    -ms-touch-action: auto !important;
    touch-action: auto !important;
  }
  .cc7Table #explanation {
    position: relative !important;
    width: 70% !important;
    margin: auto !important;
    top: auto;
    right: auto;
  }
}

.cc7Table #explanation x {
  position: absolute;
  top: 0.2em;
  right: 0.6em;
  font-weight: bold;
  font-size: 1em;
  cursor: pointer;
  color: red;
}
.cc7Table #explanation h3 {
  font-size: 1.3em;
  margin-bottom: 0.5em;
}
.cc7Table #explanation h4 {
  font-size: 1.1em;
  margin-bottom: 0.5em;
}
.cc7Table #explanation ul {
  margin-left: 35px;
}

div.cc7Table {
  background: white;
  min-width: 650px;
}

span.death,
span.birth {
  display: block;
}
span.missingText {
  display: block;
  margin-top: 0.3em;
}

.cc7Table .birthDate,
.cc7Table .deathDate,
.cc7Table .relationCell {
  white-space: nowrap;
}
#cc7Degree {
  width: 3em;
  min-width: 3em;
}
#cc7Degree option {
  text-align: center;
}

#cc7Subset {
  margin-left: 1em;
  min-width: 3em;
  padding-right: 1.5em;
}
#cc7DegFilter {
  min-width: 1em;
}
.cc7DegFilter-option svg {
  width: 15px;
  height: 15px;
  vertical-align: middle;
}

div.cc7Table #settingsDIV input[type="radio"] {
  min-width: 40px;
}

#wideTableButton {
  margin-left: 0.5em;
}
.cc7Table #adminButtons {
  float: right;
}
.cc7Table #settingsButton img {
  width: 1.5em;
  vertical-align: middle;
  cursor: pointer;
}
.cc7Table #help {
  background: #393a3c;
  color: #fff;
  font-size: 12pt;
  font-weight: bold;
  vertical-align: middle;
  padding: 1.6pt 5pt;
  border: 0.2em;
  border-radius: 50%;
  cursor: pointer;
}
.cc7Table #cc7ImgKey {
  display: block;
  border: none;
  list-style: none;
  display: block;
  padding: 0 0.5em 0 0.5em;
}
.cc7Table #cc7ImgKey li {
  width: auto;
  display: inline-block;
  margin: 0;
  padding: 3px 2px 2px 3px;
}
#cc7ImgKey img {
  width: 20px;
  height: 20px;
  margin-right: 2px;
}
.cc7ImgKey span.none {
  height: 1.3em;
}

.cc7Table #mlButtons {
  margin-top: 0.75em;
  margin-left: 1em;
}
.cc7Table #mlButtons label {
  margin-right: 0.5em;
}

td.degree {
  text-align: center;
  cursor: default;
}
div.cc7Table td {
  border-top: 1px solid gray;
}
div.cc7Table th[id] {
  cursor: pointer;
}

#lanceTable {
  margin-top: 1em;
}
#lanceTable td,
#lanceTable th {
  vertical-align: top;
}
#lanceTable th li {
  display: inline-block;
  margin-right: 1em;
}
#lanceTable th span {
  font-weight: bold;
}
#lanceTable th ol {
  margin-left: 0;
}
#lanceTable td ol {
  margin-left: 2em;
}
#lanceTable th {
  cursor: inherit;
}
#lanceTable a[data-clicked="1"] {
  background: forestgreen;
  color: white;
}
#hierarchyView {
  margin-top: 1em;
  font-size: 1.3em;
}
#hierarchyView menu {
  margin: 1em;
}
#hierarchyView menu button {
  margin: 1em;
}
#hierarchyView ul {
  list-style: none;
  margin-bottom: 5px;
}
#hierarchyView li {
  margin-bottom: 0.3em;
}
#hierarchyView button.toggler,
#hierarchyView button.nonToggler {
  border: 1px solid gray;
  border-radius: 50%;
  width: 1em;
  height: 1em;
  padding: 0 !important;
  position: absolute;
  margin-left: -1.3em;
  line-height: 0.5em;
}
#hierarchyView button.toggler:active {
  left: auto;
  top: auto;
  margin-top: 1px;
  box-shadow: 0.2em 0.2em 0.2em gray;
}
#hierarchyView button.nonToggler {
  cursor: default;
}
#hierarchyView button.nonToggler:active {
  left: auto;
  top: auto;
}
#hierarchyView button.nonToggler:hover {
  background: #25422d;
}
#hierarchyView ul ul {
  display: none;
}
#hierarchyView #showAllDegrees {
  width: 10em;
}
#hierarchyView img.missingIcon,
#lanceTable img.missingIcon,
#hierarchyView img.missingCountIcon {
  height: 1em;
  width: 1em;
  margin-left: 0.2em;
}
#hierarchyView span.countBit span {
  margin-left: 0.5em;
}
#hierarchyView span.countBit span:first-child {
  margin-left: 0;
}
#hierarchyView span.countBit {
  border: 1px solid #d90202;
  padding: 0 2px 0;
  margin-left: 0.5em;
  border-radius: 0.2em;
  background-color: white;
  display: inline-block;
}
#hierarchyView span.countBit img {
  position: relative;
  top: 0.1em;
}
#hierarchyView span.nodeCount {
  padding: 3px 0.2em 0;
  border: 1px solid forestgreen;
  border-radius: 0.2em;
  margin: 0 0.3em;
}

button.viewButton {
  /* background: #25422d;
  border: 0;
  outline: none;
  cursor: pointer;
  text-align: center;
  font-size: 20px;
  margin-left: 1em;
  text-transform: uppercase;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  font-weight: normal;
  text-decoration: none !important;
  cursor: pointer;
  line-height: normal; */
  margin-left: 1em;
  transition: all 0.1s ease-in-out;
  box-shadow: 0px 2px 4px 0px gray;
}

button.viewButton.active {
  background-color: #faae1a;
  color: #25422d;
  font-weight: bold;
  transform: translateY(2px);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}

div.degreeView #hierarchyViewButton {
  visibility: hidden;
}
div.cc7Table #savePeople {
  display: none;
}

#hierarchyView span.relation {
  padding: 0 0.2em;
  border-radius: 0.2em;
}

#hierarchyView span.Father {
  background-color: #64b5f6;
  border: 1px solid #0288d1;
}

#hierarchyView span.Mother {
  background-color: #f06292;
  border: 1px solid #ec407a;
}

#hierarchyView span.Brother {
  background-color: #b3e5fc;
  border: 1px solid #01579b;
}

#hierarchyView span.Sister {
  background-color: #ffcdd2;
  border: 1px solid #f44336;
}

#hierarchyView span.Sibling {
  background-color: #a5d6a7;
  border: 1px solid #1b5e20;
}

#hierarchyView span.Husband {
  background-color: #90caf9;
  border: 1px solid #03a9f4;
}

#hierarchyView span.Wife {
  background-color: #e1bee7;
  border: 1px solid #9c27b0;
}

#hierarchyView span.Spouse {
  background-color: #c5e1a5;
  border: 1px solid #558b2f;
}

#hierarchyView span.Daughter {
  background-color: #fce4ec;
  border: 1px solid #f06292;
}

#hierarchyView span.Son {
  background-color: #e1f5fe;
  border: 1px solid #03a9f4;
}

#hierarchyView span.Child {
  background-color: #81c784;
  border: 1px solid #388e3c;
}

#hierarchyView span.birthDeathDates {
  font-size: 0.8em;
}

div.cc7Table .cc7filter-row th {
  padding: 0;
}
#cc7Container table tr.cc7filter-row input[type="text"] {
  width: 100%;
  box-sizing: border-box;
  padding: 0.1em;
  border: 1px solid #aaa;
  border-radius: 0.25em;
  font-size: 1em;
  line-height: 1.5em;
  margin: 0;
  background-color: #fff;
  color: #000;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-transition: border-color 0.2s ease-in-out;
  -moz-transition: border-color 0.2s ease-in-out;
  transition: border-color 0.2s ease-in-out;
}
#clearTableFiltersButton {
  font-size: 0.8em;
  padding: 7px 15px;
  font-size: 0.9em;
  text-align: center;
  display: inline-block;
}
.cc7filter-row input.numeric-input {
  width: 2em !important;
  min-width: auto;
}
.cc7filter-row input.date-input {
  width: 6em !important;
  min-width: auto;
}

.cc7filter-row input.text-input {
  width: 100%;
}

#cc7Container ul.select2-results__options {
  margin: 0;
  padding: 0 0 0 6px;
}
#cc7Container li.select2-results__option {
  min-height: 18px;
  padding: 0;
  margin-bottom: 0 !important;
}
รท#cc7Container .select2-dropdown {
  width: 45px !important;
}
#cc7Container.cc7Table span.select2-selection__rendered {
  min-width: 2.5em;
}
#cc7Container.cc7Table span.select2-results ul {
  margin-left: 0;
}
#cc7Container #relation,
#cc7Container td.relation {
  width: 3em;
}
#cc7Container #statsView fieldset {
  display: block;
  margin-inline-start: 2px;
  margin-inline-end: 2px;
  padding-block-start: 0.35em;
  padding-inline-start: 0.75em;
  padding-inline-end: 0.75em;
  padding-block-end: 0.625em;
  min-inline-size: min-content;
  border-width: 2px;
  border-style: groove;
  border-color: rgb(192, 192, 192);
  border-image: initial;
  border-radius: 5px;
  margin-bottom: 10px;
}
#cc7Container legend {
  font-size: 110%;
  float: none;
  width: auto;
  display: table;
  margin-bottom: 0;
}
#cc7Container #statsView #resultsContainer {
  margin: 25px auto;
  text-align: center;
}

#cc7Container #statsTable {
  border-collapse: collapse;
  margin: 5px auto 10px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

#cc7Container #statsTable caption {
  border-radius: 5px 5px 0 0;
  border-top: 1px solid forestgreen;
  border-left: 1px solid forestgreen;
  border-right: 1px solid forestgreen;
  caption-side: top;
}

#cc7Container #statsTable thead tr {
  background-color: #25422d;
  color: white;
  text-align: left;
  font-weight: bold;
}

#cc7Container #statsTable th,
#cc7Container #statsTable td {
  padding: 10px 12px;
}

#cc7Container #statsTable tbody {
  background-color: white;
}

#cc7Container #statsTable tbody tr:nth-of-type(even) {
  background-color: #f7f6f0;
}

#cc7Container #statsTable tbody tr:last-of-type {
  border-bottom: 2px solid #25422d;
}

/* ---
  Missing Links Styles
---*/
#missingLinksTable {
  text-align: center;
  margin: auto;
}

#missingLinksTable th {
  text-align: center;
  padding: 10px;
}

#missingLinksTable td {
  padding: 10px;
}

#missingLinksTable td.is-lead {
  background-color: rgba(255, 0, 0, 0.1);
}

#missingLinksTable td.possible-lead {
  background-color: rgba(255, 255, 0, 0.1);
}

#ml-privacy-lock {
  height: 25px;
  width: 25px;
}

#ml-count {
  text-align: center;
}

/* ---------------------------------------------------------
   Print styles
   ---------------------------------------------------------*/
@media print {
  :root:has(#cc7Container) {
    * {
      color: #000 !important;
      box-shadow: none !important;
      text-shadow: none !important;
      /* background:transparent !important;*/
    }
    html {
      background-color: #fff;
    }
    /* Hide navigation */
    nav {
      display: none;
    }

    /* Show link destinations in brackets after the link text */
    /* a[href]:after { content: " (" attr(href) ") "; }*/
    a[href] {
      font-weight: bold;
      text-decoration: underline;
      color: #06c;
      border: none;
    }
    /* Don't show link destinations for JavaScript or internal links */
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
      content: "";
    }

    /* Show abbr title value in brackets after the text */
    abbr[title]:after {
      content: " (" attr(title) ")";
    }

    figure {
      margin-bottom: 1em;
      overflow: hidden;
    }

    figure img {
      border: 1px solid #000;
    }
  }
}
