<!-- 
  The "treeInfo" content for the base/core WikiTree Dynamic Tree.

  Note that items with specific classes will get filled in by updateViewedPersonContent() with details of the starting profile:

  * viewTreePersonBirthName
  * viewTreePersonURL
-->

<h2>Fan Chart for <span class="viewTreePersonBirthName"></span></h2> 
WikiTree Profile Page: <a class="viewTreePersonURL" href="" target="_new"></a><br />
		
Click on the chart and use your mouse wheel to zoom. Click and drag to pan around. 
<a href="https://www.WikiTree.com/wiki/Dynamic_Tree" target="_Help">More info</a>
<a href="https://www.WikiTree.com/wiki/Dynamic_Tree" target="_Help"><img src="https://www.WikiTree.com/images/icons/help.gif" border="0" width="11" height="11" alt="Help" title="Help using the dynamic tree"></a>

<br /><br />
