:root {
  --content-padding: 1em;
}

html,
body {
  font-family: sans-serif;
}

header {
  background: #f7f6f0;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: var(--content-padding);
}

header>* {
  margin: 0;
}

#logo {
  background-image: url("https://www.wikitree.com/images/wikitree-small.png");
  background-repeat: no-repeat;
  display: block;
  height: 42px;
  width: 250px;
}

#logo:hover {
  background-color: transparent;
  cursor: pointer;
}

/* The "login" button for the API, replaced with logged-in status after that's complete. */
#wt-api-login {
  display: flex;
  align-items: center;
  padding: 10px 0;
}

#wt-api-login>* {
  margin: 0;
}

main {
  background: white;
  padding: var(--content-padding);
}

#settings-panel {
  display: flex;
  justify-content: space-between;
}

#settings-panel * {
  margin: 0;
}

#info-panel>h2 {
  margin: 0;
}

#settingsDIV>ul>li {
  cursor: pointer;
}

#view-select {
  border-radius: 5px;
  border: 3px solid #ddd;
  text-transform: uppercase;
  background: white;
  appearance: auto;
  padding: 13px;
}

#wt-id-link {
  font-size: 0.75em;
}

/* The div that's filled with the view itself, e.g. the SVG canvas created by the wikitree-dynamic-tree view. */
#view-container {
  border: 1px solid #aaa;
  overflow: auto;
  min-height: 1000px;
}

/* A div that can be filled by launchTree() with specific information for each view. */
#treeInfo {
  border-top: 1px solid black;
}

/* For base/core WikiTree Dynamic Tree */
.person rect {
  stroke: #6c6;
  stroke-width: 1px;
  fill: #fff;
}

.person .box {
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  text-align: center;
  padding: 5px;
  background-color: #fff;
}

.person .spouse-box {
  border: solid black 1px;
  height: 20px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  border-top: none;
  background-color: #fff;
  padding-left: 5px;
}

.person:hover rect {
  cursor: pointer;
  stroke: #fcbb71;
}

.person .name {
  font-size: 18px;
}

.person .lifespan {
  font-size: 12px;
}

.link {
  fill: none;
  stroke: #aaa;
  stroke-width: 1px;
}

.plus {
  fill: #fff;
  cursor: pointer;
  stroke: #333;
  stroke-width: 1px;
}

.plus:hover {
  stroke: #fcbb71;
}

.popup rect {
  stroke: steelblue;
  stroke-width: 1px;
  fill: #fff;
}

.popup .name {
  font-size: 24px;
}

.popup .vital {
  font-size: 14px;
  padding-top: 10px;
}

.popup-link {
  /*  fill: #060;
  text-decoration: underline;*/
  padding: 10px;
}

/* .popup-link:hover {
    text-decoration: none;
  cursor: pointer; 
} */

.popup-box {
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  background-color: white;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.popup-box .image-box {
  width: 75px;
  height: 75px;
}

.image-box img {
  max-height: 100%;
}

.top-info {
  display: flex;
}

.vital-info {
  padding: 0 0 10px 10px;
}

#tree-links a img,
.tree-links a img {
  height: 15px;
}

#dropdown-button {
  padding: 16px;
  font-size: 16px;
}

.dropdown-content {
  display: none;
  min-width: 160px;
  position: absolute;
  z-index: 1;
}

.dropdown-content a {
  padding: 10px;
  display: block;
  border: 1px solid #cccccc;
  background: #ffffff;
  text-decoration: none;
}

.centered {
  text-align: center;
  justify-content: center;
}

.marginBottomZero {
  margin-bottom: 0;
}

.fontSerif {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.fontSansSerif {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.fontBlack {
  color: black;
}

.fontDarkGreen {
  color: darkgreen;
}

.fontDarkRed {
  color: darkred;
}

.fontDarkBlue {
  color: darkblue;
}

.fontBrown {
  color: rgb(72, 32, 4);
}

.fontWhite {
  color: white;
}

.fontYellow {
  color: yellow;
}

.fontLime {
  color: lime;
}

.fontPink {
  color: hotpink;
}

.fontCyan {
  color: cyan;
}

.fontScript {
  font-family: cursive;
}

.fontFantasy {
  font-family: fantasy;
}

.fontMono {
  font-family: 'Courier New', Courier, monospace;
}

.fontBold {
  font-weight: bold;
}

.photoInfoContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.photoInfoContainerEnd {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.flexGrow1 {
  flex-grow: 1;
}

.selectSimpleDropDown {
  appearance: auto;
  background: white;
  padding: 6px;
}

.selectedMenuBarOption {
  appearance: auto;
  background: yellow;
  padding: 3px;
}

.mDateBox {
    background-color: white;
    border-top: 2px red solid;
    border-bottom: 3px red solid;
    width: 55px;
}
.mDateBox2 {
    background-color: white;
    border-left: 2px red solid;
    border-right: 3px red solid;
    width: 110px;
}

.quarterEmBottomMargin {
  margin-bottom: 0.25em;
}

.btnDec {
  padding: 0;
  font-size: 14px;
  margin: 0px;
  border-radius: 0px 0px 20px 20px;
  background: blue;
  width: 30px;
  height: 15px;

}
.btnInc {
  padding: 0;
  font-size: 14px;
  margin: 0px;
  border-radius: 20px 20px 0px 0px;
  background: red;
  width: 30px;
  height: 15px;
}
.btnSVG {
  padding: 0;
  margin: 0px;
  border-radius: 0px;
  background: none;
  width: 20px;
  height: 17px;
}

#btnBarDIV A {
  cursor: pointer;
}
/* Print styling should follow everything else to overwrite it */

@media print {
  body {
    background: transparent;
    -webkit-print-color-adjust: exact;
    /*  COLOR ADJUST rules added so that coloured DIVS (like the cells in a Fan Chart) get printed as displayed on screen */
    print-color-adjust: exact;
  }

  header,
  main {
    display: none;
  }

  #btnBarDIV {
    display: none;
  }

  #view-container {
    border: none;
    min-height: initial;
  }
}