body {background:#fff!important;}
.container.tree {width:90%;}
#header {padding:10px;}
#header {background:#f7f6f0 url("images/header-bg-sm.gif") repeat-x bottom!important;}

#header .logo img {width:250px;}
#header h1 {background-color:transparent;line-height:2em;}

.name {
  font-weight: bold;
}

.about {
  fill: #777;
  font-size: smaller;
}

.link {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

svg { 
	pointer-events: all;
}

.node {
  width: 380px;
  height: 120px;
  overflow: hidden;
  border: 1px solid black;
  padding: 2px;
  background-color: #ddd;
  color: black;
  margin: 0px;
}
.node .genderMale { background-color: #eeeeff;}
.node .genderFemale { background-color: #ffeeee; } 
.node .nodeImage { 
	float: left; 
	margin-right: 5px;
	max-height: 100px;
	overflow: hidden;
	width: 75px;
}

.node .name { 
	float: left;
	font-weight: bold;
	font-size: 16pt;
	/*width: 215px;*/
}

.node .dates {  
	width: 215px;
	float: left;
	font-size: 12pt;
	color: #777;
}

.node .hoverAnchor { 
	border: 1px solid blue;
	background-color: yellow;
	width: 20px;
	height: 20px;
	padding: 0px;
	margin: 0px;
	margin-top: -10px;
	margin-right: 5px;
	float:right;
}

.node .clear { 
   clear: both;
}

#treeContainer { 
	float: left;
	width: 100%;
}
#infoContainer { 
	float: left;
	margin-top: 50px;
	border: 1px solid black;
	min-height: 200px;
}
#status { 
	float: right;
	width: 200px;
	border: 1px solid #a00000;
	min-height: 20px;
	color: #a00;
}

#nodeHover { 
  position: relative;
  width: 150px;
  height: 200px;
  background-color: white;
  border: 2px solid green;
  padding: 5px;
  display: none;
}
#nodeHover .inner { 
}

