#couples-view-container {
  --content-padding: 0;
  position: relative;
}
#couples-view-container:hover {
  cursor: grab;
}
#couples-view-container:active {
  cursor: grabbing;
}

#couples-view-container h4 {
  font-size: 14px;
}

.cvtc .couple .box {
  cursor: pointer;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  text-align: center;
  padding: 5px;
  background-color: #fff;
  margin: 0;
}

.cvtc .box[data-gender="male"],
.cvtc .popup-box[data-gender="male"] {
  border-color: rgba(102, 102, 204, 0.5);
}

.cvtc .descendant .box[data-gender="male"][data-infocus="true"],
.cvtc .ancestor.root .box[data-gender="male"][data-infocus="true"] {
  cursor: pointer;
  border-color: rgba(102, 102, 204, 0.5);
  background-image: linear-gradient(
    to top right,
    rgba(102, 102, 204, 0.3),
    rgba(102, 102, 204, 0.05),
    rgba(102, 102, 204, 0)
  );
}

.cvtc .box[data-gender="female"],
.cvtc .popup-box[data-gender="female"] {
  border-color: rgba(204, 102, 102, 0.5);
}

.cvtc .descendant .box[data-gender="female"][data-infocus="true"],
.cvtc .ancestor.root .box[data-gender="female"][data-infocus="true"] {
  border-color: rgba(204, 102, 102, 0.5);
  background-image: linear-gradient(
    to top right,
    rgba(204, 102, 102, 0.3),
    rgba(204, 102, 102, 0.05),
    rgba(204, 102, 102, 0)
  );
}

.cvtc .box,
.cvtc .popup-box {
  border-color: rgba(102, 204, 102, 0.5);
}

.cvtc .descendant .box[data-infocus="true"] {
  border-color: rgba(102, 204, 102, 0.5);
  background-image: linear-gradient(
    to top right,
    rgba(102, 204, 102, 0.2),
    rgba(102, 204, 102, 0),
    rgba(102, 204, 102, 0)
  );
}

.cvtc .person .cname {
  font-size: 14px;
}

.cvtc .person .marriage-date {
  font-size: 12px;
}

.cvtc .button-words {
  color: black;
}

.cvtc .drop-button {
  font-size: 14px;
  line-height: 0;
  margin: 0;
  text-transform: none;
  padding: 1px 2px;
  color: green;
  background-color: transparent;
  border-color: transparent;
}

.cvtc .select-spouse-button {
  font-size: 14px;
  margin: 0;
  text-transform: none;
  padding: 1px 2px;
  color: green;
  background-color: transparent;
}

.cvtc .select-spouse-button:hover,
.cvtc .drop-button:hover {
  cursor: pointer;
  /* color: #fc7171; */
}

.cvtc .altSpouse {
  font-size: 14px;
}

.cvtc .alt-spouse-list-wrapper h4 {
  margin: 12px;
}

.cvtc .spouse-list ol,
.cvtc .children-list ol {
  border: none;
  margin: 6px;
  padding-top: 0px;
  padding-left: 20px;
  text-align: left;
  --content-padding: 0;
}
.cvtc .spouse-list li,
.cvtc .children-list li {
  margin: 6px;
}
.cvtc .children-list-wrapper h4 {
  margin: 12px;
  background: #f9f9f9;
}

.cvtc .children-list ol {
  margin: 0;
}

.cvtc .children-list {
  font-size: 14px;
  border-radius: 5px;
  border: solid rgba(102, 204, 102, 0.5);
  background: #f9f9f9;
}

.cvtc .minus {
  fill: #fff;
  cursor: pointer;
  stroke: #333;
  stroke-width: 1px;
}

.cvtc .minus:hover {
  stroke: #fcbb71;
}

.cvtc #ct-help-button {
  background: #25422d;
  color: #fff;
  font-size: 0.8em;
  padding: 0.1em 0.5em;
  border-radius: 50%;
  float: right;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  top: 0.2em;
  right: 0.2em;
  z-index: 11000;
}

.cvtc xx {
  position: absolute;
  top: 0.2em;
  right: 0.6em;
  font-size: 1em;
  cursor: pointer;
  font-weight: bold;
  color: red;
}

.cvtc #ct-help-text {
  display: none;
  border: 3px solid forestgreen;
  border-radius: 1em;
  padding: 0.3em 1em;
  margin: 1em auto;
  position: absolute;
  top: 20px;
  right: 100px;
  width: 45em;
  background: white;
  box-shadow: 1em 1em 1em grey;
  padding-right: 4em;
  z-index: 11000;
  cursor: default;
}
.cvtc #ct-help-text:hover {
  cursor: grab;
}
.cvtc #ct-help-text:active {
  cursor: grabbing;
}

.cvtc .rotated-180 {
  display: inline-block;
  transform: rotate(180deg);
}
/* .cvtc foreignObject * {
  position: static !important;
} */
@media only screen and (max-width: 767px) {
  #couples-view-container .ui-draggable-handle {
    -ms-touch-action: auto !important;
    touch-action: auto !important;
  }
  #couples-view-container #ct-help-text {
    position: relative !important;
    width: 70% !important;
    margin: auto !important;
    top: auto;
    right: auto;
  }
}
