#view-container {
  --content-padding: 0;
}

h4 {
  font-size: 14px;
}

.couple .box {
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  text-align: center;
  padding: 5px;
  background-color: #fff;
}

.box[data-gender="male"],
.popup-box[data-gender="male"] {
  border-color: rgba(102, 102, 204, 0.5);
}

.descendant .box[data-gender="male"][data-infocus="true"],
.ancestor.root .box[data-gender="male"][data-infocus="true"] {
  border-color: rgba(102, 102, 204, 0.5);
  background-image: linear-gradient(
    to top right,
    rgba(102, 102, 204, 0.3),
    rgba(102, 102, 204, 0.05),
    rgba(102, 102, 204, 0)
  );
}

.box[data-gender="female"],
.popup-box[data-gender="female"] {
  border-color: rgba(204, 102, 102, 0.5);
}

.descendant .box[data-gender="female"][data-infocus="true"],
.ancestor.root .box[data-gender="female"][data-infocus="true"] {
  border-color: rgba(204, 102, 102, 0.5);
  background-image: linear-gradient(
    to top right,
    rgba(204, 102, 102, 0.3),
    rgba(204, 102, 102, 0.05),
    rgba(204, 102, 102, 0)
  );
}

.box,
.popup-box {
  border-color: rgba(102, 204, 102, 0.5);
}

.descendant .box[data-infocus="true"] {
  border-color: rgba(102, 204, 102, 0.5);
  background-image: linear-gradient(
    to top right,
    rgba(102, 204, 102, 0.2),
    rgba(102, 204, 102, 0),
    rgba(102, 204, 102, 0)
  );
}

.person .cname {
  font-size: 14px;
}

.person .marriage-date {
  font-size: 12px;
}

.button-words {
  color: black;
}

/* .button-words:hover {
  color: #fc7171;
} */

.drop-button {
  font-size: 14px;
  margin: 0;
  text-transform: none;
  padding: 1px 2px;
  color: green;
  background-color: transparent;
  border-color: rgba(0, 0, 0, 0.2);
}

.select-spouse-button {
  font-size: 14px;
  margin: 0;
  text-transform: none;
  padding: 1px 2px;
  color: green;
  background-color: transparent;
}

.select-spouse-button:hover,
.drop-button:hover {
  cursor: pointer;
  /* color: #fc7171; */
}

.altSpouse {
  font-size: 14px;
}

.alt-spouse-list-wrapper h4 {
  margin: 12px;
}

.spouse-list ol,
.children-list ol {
  border: none;
  margin: 6px;
  padding-top: 0px;
  padding-left: 20px;
  text-align: left;
  --content-padding: 0;
}

.children-list-wrapper h4 {
  margin: 12px;
  background: #f9f9f9;
}

.children-list ol {
  margin: 0;
}

.children-list {
  border-radius: 5px;
  border: solid rgba(102, 204, 102, 0.5);
  background: #f9f9f9;
}

.minus {
  fill: #fff;
  cursor: pointer;
  stroke: #333;
  stroke-width: 1px;
}

.minus:hover {
  stroke: #fcbb71;
}
