#surnamesList {
	background-color: #fff;
	padding: 20px;
}

.generationRow {
  clear: both;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 0px; 
  border-bottom: 1px dotted black;
}
.paternalColumn {
  background-color: #eeeeff;
  width: 49%;
  float: left;
}
.maternalColumn {
  background-color: #ffeeee;
  width: 49%;
  float: right;
}
.surnameItem {
  display: inline-block;
  width: auto;
  margin: 0px 10px 10px 0px;
}
.newSurname {
  font-weight: bold;
}
.gen0 { font-size: 70px; }
.gen1 { font-size: 60px; }
.gen2 { font-size: 50px; }
.gen3 { font-size: 40px; }
.gen4 { font-size: 30px; }
.gen5 { font-size: 20px; }
.gen6 { font-size: 16px; }
.genx { font-size: 14px; }
