#family_group {
    background-color: #f5f5f5;
}

#family_group h2 {
    text-indent: 5%;
}

#family_group h3 {
    font-size: 90%;
    text-indent: 8%;
}

#children_list {
    background-color: #f5f5f5;
}

.fv_singleFamily {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    clear: both;
}

.fv_Family {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    justify-content: center;
}

.fv_Parents td {
    width: 50%;
    border: #aaaaaa 1px solid;
}

.fv_Children td {
    border-width: 0;
    padding: 0;
    border-spacing: 0;
}

.fv_Children_Table {
    width: 100%;
}

.fv_Children_Table tr td {
    border: #aaaaaa 1px solid;
}

.gender_Male {
    background-color: #eef;
}

.gender_Female {
    background-color: #fee;
}