#view-container.familyGroupApp #tree {
  display: block;
  height: 5em;
  border-radius: 50%;
  border: 3px solid forestgreen;
  width: 5em;
  margin: auto;
}

/* 
	Family Sheet
	
	*/
#view-container.familyGroupApp {
  min-width: 730px;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  background-color: #f7f6f0;
}
#view-container.familyGroupApp caption {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}
#view-container.familyGroupApp #loginForm {
  display: block;
  width: 19em;
  margin: 1em auto;
}
#view-container.familyGroupApp #familySheetGo {
  width: 3em;
}
#view-container.familyGroupApp #gotoAPI {
  width: 18em;
  display: block;
  margin: auto;
}
#view-container.familyGroupApp input[type="text"],
#view-container.familyGroupApp textarea {
  border: 1px solid gray;
}
#view-container.familyGroupApp #wtidLabel {
  width: 21em;
  margin: 1em auto;
  display: flex;
  white-space: nowrap;
}
#view-container.familyGroupApp #wtidLabel input {
  margin-left: 0.5em;
}
#view-container.familyGroupApp #familySheetFormTable {
  min-width: 50em;
  margin-bottom: 0.5em;
  background-color: #fff;
}

#view-container.familyGroupApp #familySheetFormTable,
#view-container.familyGroupApp .tableContainer {
  text-align: left;
  margin: auto;
}
#view-container.familyGroupApp .tableContainer.Child {
  margin: 0.5em auto;
}

#view-container.familyGroupApp #familySheetFormTable th,
#view-container.familyGroupApp #familySheetFormTable .heading,
#view-container.familyGroupApp .tableContainer th,
#view-container.familyGroupApp .tableContainer .heading {
  font-weight: bold;
  text-align: left;
}
#view-container.familyGroupApp #familySheetFormTable tr.roleRow,
#view-container.familyGroupApp .tableContainer tr.roleRow,
#view-container.familyGroupApp tr.marriedRow th {
  font-size: 1.4em;
}
#view-container.familyGroupApp #familySheetFormTable,
#view-container.familyGroupApp .tableContainer table,
#view-container.familyGroupApp .citationTable {
  border-collapse: collapse;
  border-spacing: 0;
}
#view-container.familyGroupApp #familySheetFormTable tr.roleRow td,
#view-container.familyGroupApp #familySheetFormTable tr.roleRow th,
#view-container.familyGroupApp .tableContainer tr.roleRow td,
#view-container.familyGroupApp .tableContainer tr.roleRow th {
  border-top: 2px solid black;
  padding-top: 5px;
}
#view-container.familyGroupApp #familySheetFormTable tr.roleRow .fsGender,
#view-container.familyGroupApp .tableContainer tr.roleRow .fsGender {
  float: right;
  font-size: 0.7em;
  font-weight: 500;
}
#view-container.familyGroupApp thead th {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
#view-container.familyGroupApp tbody th,
#view-container.familyGroupApp tbody td {
  border-bottom: 1px solid black;
}
#view-container.familyGroupApp tbody th,
#view-container.familyGroupApp tbody td,
#view-container.familyGroupApp thead th {
  border: 1px solid black;
  padding: 2px;
  vertical-align: top;
}

#view-container.familyGroupApp tbody tr.marriedRow th,
#view-container.familyGroupApp tbody tr.marriedRow td {
  vertical-align: middle;
}

#view-container.familyGroupApp span[data-name],
#view-container.familyGroupApp td[data-name],
#view-container.familyGroupApp .roleRow .role.heading,
th.bioHeading {
  cursor: pointer;
}
#view-container.familyGroupApp .role.heading {
  white-space: nowrap;
}
#view-container.familyGroupApp .dateOfMarriageHeading.hidden {
  visibility: hidden;
}
#view-container.familyGroupApp #familySheetFormTable caption,
#view-container.familyGroupApp .tableContainer caption {
  font-weight: bold;
  font-size: 1.5em;
  border-top: 2px solid black;
}
#view-container.familyGroupApp .marriedRow td,
#view-container.familyGroupApp .marriedRow th,
#view-container.familyGroupApp #notes td,
#view-container.familyGroupApp #sources th,
#view-container.familyGroupApp #notes th,
#view-container.familyGroupApp #sources td {
  border-top: 2px solid black;
}
#view-container.familyGroupApp .marriedHeading,
#view-container.familyGroupApp #notes .heading,
#view-container.familyGroupApp #sources .heading {
  font-size: 1.4em;
}
#view-container.familyGroupApp caption span {
  display: inline-block;
  white-space: nowrap;
}
#view-container.familyGroupApp .heading {
  vertical-align: top;
}
#view-container.familyGroupApp #citationList > li {
  list-style: none;
}
#view-container.familyGroupApp #citationList {
  padding-inline-start: 0;
}
#view-container.familyGroupApp #citationList ul li,
#view-container.familyGroupApp #citationList ul {
  margin-top: 0.5em;
}
#view-container.familyGroupApp a.sourcesName {
  font-size: 1.2em;
}

#view-container.familyGroupApp #citationList > li > span {
  font-weight: bold;
  margin-bottom: 0.3em;
  display: block;
}
#view-container.familyGroupApp #notes textarea {
  width: 90%;
  height: 10em;
}
#view-container.familyGroupApp .buriedRow input {
  /*width:90%;*/
  display: flex;
}
#view-container.familyGroupApp input.edit {
  width: 95%;
}
#view-container.familyGroupApp span.marriageDate input.edit {
  width: 70%;
}
#view-container.familyGroupApp h1 input.edit {
  width: 10em;
}
#view-container.familyGroupApp #sources table.citationTable td,
#view-container.familyGroupApp #notes,
#view-container.familyGroupApp #sources {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  background-color: white;
}
#view-container.familyGroupApp #notesAndSources {
  max-width: 50em;
  margin: 1em auto;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
#view-container.familyGroupApp #notesAndSources #notesNotes {
  min-height: 2em;
  cursor: pointer;
}

#view-container.familyGroupApp .sourcesName,
#view-container.familyGroupApp .role.heading a,
#view-container.familyGroupApp .WifeParentsRow a,
#view-container.familyGroupApp .HusbandParentsRow a,
#view-container.familyGroupApp .bioHeading {
  text-decoration: none;
  color: navy;
  font-weight: bold;
}
#view-container.familyGroupApp #fgsOptions {
  width: 80%;
  margin: 1em auto;
  position: relative;
  background: white;
  padding-right: 2.5em;
  padding-left: 2.5em;
  padding-top: 1em;
  padding-bottom: 1em;
  border: 1px solid forestgreen;
  border-radius: 1em;
  font-size: 0.8em;
}
#view-container.familyGroupApp #fgsOptions h2 {
  margin: 0.2em;
  font-size: 1em;
  font-weight: bold;
  display: inline-block;
}
#view-container.familyGroupApp #fgsOptions .notesHeading {
  display: none;
}

#view-container.familyGroupApp {
  position: relative;
}

#view-container.familyGroupApp #fgsOptions label {
  padding: 0.2em 1em 0.2em 0.2em;
  display: inline-block;
}
#view-container.familyGroupApp #fgsOptions div {
  display: inline-block;
}
#view-container.familyGroupApp #fgsOptions div label {
  border: 0;
}

#view-container.familyGroupApp #fgsOptions input {
  margin-left: 0.5em;
  margin-right: 0.2em;
}

#view-container.familyGroupApp #baptChrist label:first-child,
#view-container.familyGroupApp #statusChoice label:first-child {
  padding-right: 0;
}
#view-container.familyGroupApp #showGenderDiv label {
  padding-right: 0;
}
#view-container.familyGroupApp #showGenderDiv label:nth-child(4) {
  padding-right: 2em;
}
#view-container.familyGroupApp #showGenderDiv span {
  padding-left: 1em;
}
#view-container.familyGroupApp #citationList li li textarea {
  width: 90%;
  height: 4em;
}
#view-container.familyGroupApp #fgsInfo {
  width: 35em;
  margin: 0.5em auto;
  border: 1px solid forestgreen;
  border-radius: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  display: none;
  cursor: pointer;
  transition: width 2s, top 2s, left 2s, position 2s;
  top: 0;
  left: 0;
  position: relative;
}

#view-container.familyGroupApp #fgsInfo ul {
  margin-top: 0.5em;
}
#view-container.familyGroupApp .notesHeading {
  font-weight: bold;
  margin-left: 1em;
  cursor: pointer;
} /*
  #view-container.familyGroupApp .theBio dd{
     font-weight:bold; 
  }*/
#view-container.familyGroupApp .theBio dd dl dd {
  font-weight: normal;
}
#view-container.familyGroupApp .toc,
#view-container.familyGroupApp .theBio h2 {
  display: none;
}
#view-container.familyGroupApp header #wtLogo {
  position: absolute;
  top: 1em;
  left: 1em;
  z-index: 10050;
}
#view-container.familyGroupApp h1 {
  padding-top: 0.5em;
  font-size: 1.7em;
}
body.app h1 {
  font-size: 1.7em;
  margin-bottom: 0;
}
#view-container.familyGroupApp header,
body.app header {
  background: #f7f6f0 url(https://www.wikitree.com/images/header-bg-sm.gif) repeat-x bottom;
  height: 60px;
  padding: 10px;
  position: relative;
  z-index: 1000;
}

#view-container.familyGroupApp #wtLinks,
#wtLinks {
  width: 11em;
  text-align: left;
  position: absolute;
  top: 2em;
  right: 2em;
  z-index: 10050;
  cursor: pointer;
}
#view-container.familyGroupApp #wtLinks a,
#wtLinks a {
  text-decoration: none;
  font-weight: 500;
  color: navy;
  display: none;
  background: white;
  border: 1px solid #fceeb0;
}

#view-container.familyGroupApp #wtLinks:hover a:link,
#wtLinks:hover a:link {
  display: block;
  padding: 0.3em 1.5em;
  color: navy;
}
#view-container.familyGroupApp #wtLinks:hover a:hover,
#view-container.familyGroupApp #wtLinks:hover a:visited:hover,
#wtLinks:hover a:hover,
#wtLinks:hover a:visited:hover {
  background: #fceeb0;
  color: forestgreen;
  font-weight: bold;
}
#view-container.familyGroupApp #wtLinks:hover a:active,
#wtLinks:hover a:active {
  color: black;
}
#view-container.familyGroupApp .fsWTID {
  font-size: small;
  display: none;
}
#view-container.familyGroupApp h1 input {
  z-index: 10000;
  width: 10em;
  display: block;
  margin: auto;
}
#view-container.familyGroupApp .parentName,
#view-container.familyGroupApp span.date {
  white-space: nowrap;
  display: inline-block;
}

/*

#view-container.familyGroupApp #fgsOptions #toggleBios,
#view-container.familyGroupApp #fgsOptions #includeBiosWhenPrinting,
#view-container.familyGroupApp #fgsOptions #showListsLabel,
#view-container.familyGroupApp #fgsOptions #showTablesLabel,
#view-container.familyGroupApp #fgsOptions #showGenderDiv,
#view-container.familyGroupApp #fgsOptions #statusChoice,
#view-container.familyGroupApp #husbandFirstLabel,
#view-container.familyGroupApp #fgsOptions #showOtherLastNamesLabel {
  display: none;
}
*/

#view-container.familyGroupApp .bioRow .theBio,
#view-container.familyGroupApp #fgsOptions {
  display: none;
}

#view-container.familyGroupApp .tableContainer table.wikitable {
  width: auto;
  margin-left: 1em;
}
#view-container.familyGroupApp .tableContainer {
  margin: 0.5em auto;
}
#view-container.familyGroupApp .tableContainer.Wife,
#view-container.familyGroupApp .tableContainer.Husband {
  margin: 0 auto;
}
#view-container.familyGroupApp #notesNotes p {
  margin: 0.2em 0.2em 1em;
}
#view-container.familyGroupApp caption {
  padding: 0.2em;
  border: 1px solid gray;
  background-color: #fff;
}
#view-container.familyGroupApp caption input {
  width: 40em;
  font-size: 0.7em;
}

#view-container.familyGroupApp #privateQ {
  margin-top: 1em;
  text-align: center;
  padding: 1em;
  border: 2px solid gray;
  border-radius: 1em;
  width: 15em;
  margin: auto;
  display: none;
}
#view-container.familyGroupApp sup.reference {
  display: none;
}
#view-container.familyGroupApp .marriageDate {
  display: inline-block;
}
#view-container.familyGroupApp .otherMarriageDate.empty {
  min-width: 7em;
  min-height: 1em;
}

#view-container.familyGroupApp #familySheetFormTable tr th:first-child,
.tableContainer tr th:first-child {
  width: 160px;
  max-width: 160px;
}
#view-container.familyGroupApp #familySheetFormTable tr th:nth-child(3) {
  width: 50%;
}

#fgsPrintIcon {
  float: right;
  height: 30px;
  margin-top: 0.5em;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid white;
  padding: 0.3em;
}
#fgsPrintIcon:hover {
  box-shadow: 0.2em 0.2em 0.2em gray;
}
#fgsPrintIcon:active {
  box-shadow: 0.1em 0.1em 0.1em gold;
}
#view-container.familyGroupApp .fsName a,
#view-container.familyGroupApp caption a {
  text-decoration: none;
  color: black;
  cursor: default;
}
#view-container.familyGroupApp .fsName[data-name] a {
  cursor: pointer;
}

@media print {
  * {
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
    /* background:transparent !important;*/
  }
  html {
    background-color: #fff;
  }
  /* Hide navigation */
  nav {
    display: none;
  }

  /* Show link destinations in brackets after the link text */
  /* a[href]:after { content: " (" attr(href) ") "; }*/
  a[href] {
    font-weight: bold;
    text-decoration: underline;
    color: #06c;
    border: none;
  }
  /* Don't show link destinations for JavaScript or internal links */
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  /* Show abbr title value in brackets after the text */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  figure {
    margin-bottom: 1em;
    overflow: hidden;
  }

  figure img {
    border: 1px solid #000;
  }

  /* Print Family Group Sheet */
  #view-container.familyGroupApp #h1Text,
  #view-container.familyGroupApp #wtidLabel,
  #view-container.familyGroupApp #loginForm,
  #view-container.familyGroupApp #fgsOptions,
  #view-container.familyGroupApp #fgsInfo,
  #view-container.familyGroupApp #wtLogo,
  #view-container.familyGroupApp #printIcon {
    display: none !important;
  }
  #view-container.familyGroupApp .bioRow {
    display: none;
  }

  #view-container.familyGroupApp #familySheetFormTable > div {
    display: block;
  }

  #view-container.familyGroupApp #citationList > li,
  #view-container.familyGroupApp #sources,
  #view-container.familyGroupApp #familySheetFormTable > tbody,
  .tableContainer {
    break-inside: avoid-page;
  }

  #view-container.familyGroupApp .birthRow,
  #view-container.familyGroupApp .baptismRow,
  #view-container.familyGroupApp .deathRow,
  #view-container.familyGroupApp .buriedRow,
  #view-container.familyGroupApp .otherMarriageRow,
  #view-container.familyGroupApp .HusbandParentsRow,
  #view-container.familyGroupApp .WifeParentsRow,
  #view-container.familyGroupApp .bioRow,
  #view-container.familyGroupApp .spouseRow {
    break-before: avoid-page;
    break-inside: avoid-page;
  }

  #view-container.familyGroupApp #familySheetFormTable,
  #view-container.familyGroupApp div.tableContainer,
  #view-container.familyGroupApp #notesAndSources,
  #view-container.familyGroupApp div.tableContainer table {
    width: 100% !important;
    max-width: 100% !important;
  }
}

#fgsOptions x,
#fgsInfo x {
  border: 0;
  position: absolute;
  top: 0.2em;
  right: 0.5em;
  cursor: pointer;
}

#fgsOptionsButton.active,
#fgsNotesButton.active {
  background-color: orange;
}
#view-container.familyGroupApp #familySheetFormTable .fsWTID {
  display: inline-block;
}

#view-container.familyGroupApp tr.marriedRow,
#view-container.familyGroupApp #familySheetFormTable caption,
.roleRow[data-gender],
.roleRow[data-gender] th {
  background-color: rgb(221, 250, 218);
  border-left: 1px solid black;
  border-right: 1px solid black;
}
#view-container.familyGroupApp tr.marriedRow {
  background-color: #fff2b0;
}

#view-container.familyGroupApp .roleRow[data-gender="Male"],
#view-container.familyGroupApp .roleRow[data-gender="Male"] th {
  background-color: #eef;
}

#view-container.familyGroupApp .roleRow[data-gender="Female"],
#view-container.familyGroupApp .roleRow[data-gender="Female"] th {
  background-color: #fee;
}

#view-container.familyGroupApp table {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
}
#view-container.familyGroupApp table th:first-child {
  min-width: 160px;
  max-width: 160px;
  width: 160px;
}
#view-container.familyGroupApp table th:nth-child(2),
#view-container.familyGroupApp table td:nth-child(2) {
  min-width: 250px;
  max-width: 250px;
  width: 250px;
}

#view-container.familyGroupApp table.citationTable {
  width: auto;
}
#view-container.familyGroupApp div.tableContainer.husband,
#view-container.familyGroupApp div.tableContainer.wife {
  margin-top: 0;
  margin-bottom: 0;
}
