#profiles {
  display: grid;
  grid-gap: 1px;
  margin: 1px;
  justify-content: center;
  min-width: 279mm; /* Letter paper format, smallest we will allow - A4 is 297mm */
  clear: left;
}

#profiles * {
  font-size: 0.95em;
}

#subject h2 {
  font-size: 1.2em;
  margin: 0;
  padding: .4em 0;
}

#subject img {
  float: left;
  max-height: 3em;
  margin-right: 1em;
}

#profiles .g6 * {
  font-size: 0.85em;
}

#profiles > div {
  outline: 1px solid #000;
  display: flex;
  align-items: stretch;
  padding: 0.2em 0.5em;
  text-align: center;
  justify-items: stretch;
}

#profiles .g6 {
  min-width:  22em
}

#profiles .g6 h3 {
  display: inline;
}

.unknown-relative {
  flex-direction: column;
  justify-content: center;
}

.unknown-relative > p {
  font-size: 0.8em;
  opacity: 0.5;
  margin: 0;
}

.known-relative {
  flex-direction: column;
  justify-content: center;
}

.known-relative > div > * {
  margin: 0.1em 0;
}

.known-relative > .photo {
  max-height: 100px;
  object-fit: contain;
  margin: 0.2em 0;
}

#profiles .g6 * {
  font-size: 0.85em;
  line-height: 1em;
}

@media print {
  #profiles {
    min-width: initial;
  }
  #profiles * {
    font-size: 0.80em;
    line-height: 1.1;
  }
  #profiles .photo {
    max-height: 6em;
  }
  #profiles .g6 * {
    font-size: .75em;
    line-height: .8em;
  }
  main {
    padding: 0;
  }
}
