#stats-table {
  border-collapse: collapse;
  margin: 25px auto;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

#stats-table thead tr {
  background-color: #25422d;
  color: white;
  text-align: left;
  font-weight: bold;
}

#stats-table th,
#stats-table td {
  padding: 10px 12px;
}

#stats-table tbody {
  background-color: white;
}

#stats-table tbody tr:nth-of-type(even) {
  background-color: #f7f6f0;
}

#stats-table tbody tr:last-of-type {
  border-bottom: 2px solid #25422d;
}

#results-container {
  margin: 25px auto;
  text-align: center;
}

#results-container div {
  margin: 10px auto;
}
