#stats-table {
  border-collapse: collapse;
  margin: 25px auto;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

#stats-table thead tr {
  background-color: #25422d;
  color: white;
  text-align: left;
  font-weight: bold;
}

#stats-table th,
#stats-table td {
  padding: 10px 12px;
}

#stats-table tbody {
  background-color: white;
}

#stats-table tbody tr:nth-of-type(even) {
  background-color: #f7f6f0;
}

#stats-table tbody tr:last-of-type {
  border-bottom: 2px solid #25422d;
}

#results-container {
  margin: 25px auto;
  text-align: center;
}

#results-container div {
  margin: 10px auto;
}

.stats #help-button {
  background: darkgreen;
  color: #fff;
  font-size: 0.8em;
  padding: 0.1em 0.5em;
  border-radius: 50%;
  float: right;
  font-weight: bold;
  cursor: pointer;
  z-index: 11000;
}

.stats #help-text {
  display: none;
  border: 3px solid forestgreen;
  border-radius: 1em;
  padding: 0.3em 1em;
  margin: 1em auto;
  position: absolute;
  top: 20px;
  right: 100px;
  width: 50em;
  background: white;
  box-shadow: 1em 1em 1em grey;
  z-index: 11000;
  cursor: default;
}

.stats xx {
  position: absolute;
  top: 0.2em;
  right: 0.6em;
  font-size: 1em;
  cursor: pointer;
  font-weight: bold;
  color: red;
}

.stats #help-text:hover {
  cursor: grab;
}
.stats #help-text:active {
  cursor: grabbing;
}

#g2g {
  text-align: center;
  background: lightgoldenrodyellow;
}
