#display-mode {
  padding: 5px;
  width: 300px;
}

.calendar {
  display: none;
  height: 100%;
}

.loaderIMG {
  width: 100px;
}

#watchCalendar .loader {
  width: 101px;
  position: relative;
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
  left: 45%;
  top: 45%;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
#watchCalendar .content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
  width: 47%;
  margin: auto;
}

#watchCalendar span[id^="month-"] {
  padding: 0 5px;
  font-size: 1.3em;
  color: #060;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}

div.fourteen.columns.center {
  margin-bottom: 10px;
  overflow-wrap: break-word;
}
