#ttreeContainer {
    padding: 0.3em;
  }
  #ttreeSvg {
    overflow-x: auto;
    width: 100%;
  }
  /* Normalise buttons */
  .ttree button {
    font-weight: normal;
    font-size: 14px !important;
    min-width: auto !important;
    padding: 0.5em !important;
    margin-left: 0.5em;
    margin-right: 0.5em;
  }
  div.ttree table {
    margin-bottom: 0;
  }
  div.ttree td {
    padding: 0;
  }
  
  #generation,
  #maxLevel {
    width: 3em;
    min-width: 3em;
    margin-right: 10px;
    margin-top: 0;
  }
  
  #ttreeOptions {
    cursor: pointer;
  }
  .ttree legend {
    font-size: 110%;
    float: none;
    width: auto;
    display: table;
    margin-bottom: 0;
  }
  
  .ttree .node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 3px;
  }
  
  .ttree .node circle.ofinterest {
    stroke: coral;
  }
  
  .ttree .node circle.end {
    stroke: red;
  }
  
  .ttree .node rect.dup.marked {
    stroke-width: 3px;
    stroke: black;
  }
  
  .ttree .treeHeader,
  .ttree .node text {
    font: 12px sans-serif;
  }
  
  .ttree text.marked {
    font-size: 14px;
    font-weight: bold;
  }
  
  .ttree .link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
  }
  
  .ttree .link.ofinterest {
    stroke: lightcoral;
  }
  
  .ttree .link.marked {
    stroke: green;
  }
  
  .ttree .links line {
    stroke: #999;
    stroke-opacity: 0.6;
  }
  
  .ttree .nodes circle {
    stroke: #fff;
    stroke-width: 1.5px;
  }
  
  #ttreeBrickWallColour {
    width: 2em;
    padding: 2px;
  }
  
  .ttree #edgeFactor,
  .ttree #tHFactor {
    width: 4em;
  }
  
  .ttree #help-text {
    display: none;
    border: 3px solid forestgreen;
    border-radius: 1em;
    padding: 0.3em 1em;
    margin: 1em auto;
    position: absolute;
    top: 20px;
    right: 100px;
    width: 50em;
    background: white;
    box-shadow: 1em 1em 1em grey;
    z-index: 11000;
    cursor: default;
  }
  
  .ttree xx {
    position: absolute;
    top: 0.2em;
    right: 0.6em;
    font-size: 1em;
    cursor: pointer;
    font-weight: bold;
    color: red;
  }
  
  .ttree #help-text:hover {
    cursor: grab;
  }
  .ttree #help-text:active {
    cursor: grabbing;
  }
  .ttree #help-text h3 {
    font-size: 1.3em;
    margin-bottom: 0.5em;
  }
  
  .ttree .bioReport {
    background: white;
    border-radius: 1em;
    border: 3px solid forestgreen;
    box-shadow: 0.5em 0.5em 0.5em 0.5em #ccc;
    cursor: grab;
    display: none;
    position: absolute;
    padding: 1.5em 1em 1em;
    /* white-space: nowrap; */
    z-index: 10000;
  }
  .ttree .bioReport caption {
    font-family: sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    text-align: left;
    padding: 0.5em;
    background: white;
    border-top: 1px solid forestgreen;
    border-bottom: 1px solid forestgreen;
  }
  
  .ttree .bioReport w {
    position: absolute;
    top: 0;
    left: 0.5em;
    font-weight: bold;
    cursor: pointer;
  }
  .ttree .bioReport.wrap {
    width: 80%;
    white-space: normal;
  }
  .ttree .bioReportTable ol {
    margin-left: 2em;
  }
  .ttree .bioReportTable td {
    border-top: none;
    border-bottom: none;
  }
  
  @media print {
    .ttree-not-printable {
      display: none;
    }
  }
  